.dub
docs.json
__dummy.html
docs/
/appimage-installer
appimage-installer.so
appimage-installer.dylib
appimage-installer.dll
appimage-installer.a
appimage-installer.lib
appimage-installer-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
/dev/
local_*.conf
local_*.ini
local_*.cfg
.editorconfig
.github/*
!.github/dependabot.yml
!.github/workflows
.github/workflows/*
!.github/workflows/release.yml
!.github/workflows/rollback.yml
.vscode/
dub.selections.json
